.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}

.w-checkbox:before {
    content: ' ';
    display: table;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
}

.w-checkbox:after {
    content: ' ';
    display: table;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    clear: both;
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

::selection {
    background-color: #ffcb76;
}

#I-am {
    font-family: "Noe Display", serif;
    font-weight: 700;
}

body {
    font-family: "Neue Haas Unica", sans-serif;
    color: #0e0e0e;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}

h1 {
    font-family: "Noe Display", serif;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 52px;
    line-height: 1.15;
    font-weight: 700;
}

h2 {
    font-family: "Noe Display", serif;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 1.25;
    font-weight: 700;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 1.35;
    font-weight: 900;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 900;
}

h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.15;
    font-weight: 900;
}

h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.15;
    font-weight: 900;
}

p {
    margin-bottom: 33px;
    line-height: 1.5;
}

a {
    color: #ff5733;
    text-decoration: none;
}

ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    list-style-type: decimal;
}

img {
    display: inline-block;
    max-width: 100%;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-left: 5px solid #e2e2e2;
    font-size: 18px;
    line-height: 22px;
}

figure {
    margin-bottom: 10px;
}

figcaption {
    margin-top: 5px;
    text-align: center;
}

.container {
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.container.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container.position-relative {
    z-index: 6;
}

.container.position-relative.z-index-10 {
    z-index: 99999;
}

.container.container-nested {
    width: auto;
    margin-right: -24px;
    margin-left: -24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.container.margin-bottom-double.margin-top-negative {
    margin-top: -127px;
}

.container.flex-horizontal {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.container.flex-horizontal.container-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container.flex-horizontal.is-wrapping {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container.is-wide {
    max-width: 1400px;
}

.container.bg-white {
    background-color: white;
}

.col {
    margin-bottom: 48px;
    padding-right: 24px;
    padding-left: 24px;
}

.col.lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
}

.col.lg-12.overflow-scroll {
    overflow: scroll;
}

.col.lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
}

.col.lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 33.33%;
    -ms-flex: 0 33.33%;
    flex: 0 33.33%;
}

.col.lg-4.md-12.slide-down {
    position: relative;
}

.col.lg-4.md-12.slide-up {
    position: relative;
}

.col.lg-4.order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col.lg-4.order-first.no-padding-left.no-margin-bottom {
    margin-bottom: 0;
}

.col.lg-4.no-margin-bottom {
    margin-bottom: 0;
}

.col.lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 66.6666%;
    -ms-flex: 0 66.6666%;
    flex: 0 66.6666%;
}

.col.lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 58.333%;
    -ms-flex: 0 58.333%;
    flex: 0 58.333%;
}

.col.lg-5 {
    -webkit-flex-basis: 41.6666%;
    -ms-flex-preferred-size: 41.6666%;
    flex-basis: 41.6666%;
}

.col.lg-1 {
    -webkit-flex-basis: 8.33%;
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
}

.col.no-margin-bottom {
    margin-bottom: 0;
}

.pre-title {
    margin-bottom: 8px;
    color: #6a9fc9;
    font-size: 14px;
    font-weight: 500;
}

.pre-title.on-dark {
    color: hsla(0, 0%, 100%, 0.7);
}

.small-description-text {
    font-family: "Neue Haas Unica Thin", sans-serif;
    font-size: 15px;
}

.small-title-description-text {
    font-family: "Noe Display", serif;
    font-size: 26px;
    font-weight: 700;
}

.heading-alpha {
    font-family: "Noe Display", serif;
    color: #0e0e0e;
    font-size: 94px;
    line-height: 1;
    margin-left: 75px;
}

.heading-alpha2 {
    font-family: "Noe Display", serif;
    color: #0e0e0e;
    font-size: 55px;
    line-height: 1;
    margin-left: 75px;
}

.text-large0 {
    font-family: "Neue Haas Unica", sans-serif;
    color: #0e0e0e;
    font-size: 30px;
    line-height: 1.4;
    margin-top: 20px;
    margin-left: 75px;
}

.text-medium {
    font-family: "Neue Haas Unica Light", sans-serif;
    font-size: 18px;
}

.section {
    padding-top: 96px;
    padding-bottom: 48px;
}

.section.padding-bottom-16 {
    padding-bottom: 16px;
}

.section.is-dark {
    background-color: #0e0e0e;
    color: white;
}

.section.position-relative {
    overflow: hidden;
}

.section.bg-dummy-image {
    background-position: 0 0;
    background-size: auto;
}

.section.is-header {
    padding-top: 170px;
}

.section.is-header.style2 {
    border-bottom: 1px solid hsla(0, 0%, 60.7%, 0.3);
}

.section.has-bg-soft-accent {
    background-color: #ED943E;
}

.legend {
    display: inline-block;
    margin: 0;
    background-color: #feffc0;
    font-style: italic;
}

.margin-bottom {
    margin-bottom: 24px;
}

.margin-bottom.is-bold {
    font-weight: 700;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-lr {
    padding-right: 0;
    padding-left: 0;
}

.padding-left {
    padding-left: 24px;
}

.padding-right {
    padding-right: 24px;
}

.margin-left {
    margin-left: 24px;
}

.margin-left.prev {
    margin-left: 80px;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
    color: #0e0e0e;
}

.margin-left.prev:hover {
    color: #ff5733;
}

.margin-right {
    margin-right: 24px;
}

.margin-bottom-double {
    margin-bottom: 48px;
}

.navbar {
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: hsla(0, 0%, 100%, 0);
}

.section-header {
    width: 100%;
}

.section-header.position-absolute {
    top: 32px;
    z-index: 7;
}

.section-header.is-sticky {
    position: absolute;
    top: 32px;
}

.section-header.is-sticky.margin-bottom--64 {
    position: absolute;
    z-index: 999;
    margin-bottom: -64px;
}

.flexh-space-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexh-space-between.maxwidth500 {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.button-primary {
    display: inline-block;
    min-width: 180px;
    padding: 16px 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 15px;
    background-color: #ff5733;
    font-family: "Proxima Nova", sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.button-primary.animated {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 260px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button-primary-text {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

.button-primary-text.for-hover {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: auto;
    display: none;
    width: 100%;
}

.button-primary-text.lowercase {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: none;
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-menu.order-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-container.style2 {
    max-width: 780px;
    border-radius: 40px;
}

.logotype {
    margin-bottom: 0;
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 19px;
    color: #0e0e0e;
}

.logotype.is-medium {
    font-size: 23px;
}

.logotype.is-medium.margin-bottom {
    margin-bottom: 16px;
}

.brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.brand.order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.order-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.extra-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.extra-menu-link {
    color: #0e0e0e;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-left.nav-link:hover {
    color: #ff5733;
}

.flex-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.padding-double {
    padding: 48px;
}

.padding-top-bottom-double {
    padding-top: 48px;
    padding-bottom: 48px;
}

.position-absolute {
    position: absolute;
}

.bg-color {
    background-color: #ff5733;
}

.bg-color.color2 {
    background-color: white;
}

.position-relative {
    position: relative;
}

.form-input-text {
    height: 48px;
    margin-bottom: 24px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-style: none;
    border-width: 1px;
    border-color: #000 #000 hsla(0, 0%, 60.7%, 0.3);
}

.form-input-text.style1 {
    padding-left: 0;
    border-bottom: 2px solid hsla(0, 0%, 60.7%, 0.7);
    font-size: 20px;
}

.form-input-text.style1:focus {
    border-bottom: 2px solid #ff5733;
}

.form-input-text.style1::-webkit-input-placeholder {
    font-size: 16px;
}

.form-input-text.style1:-ms-input-placeholder {
    font-size: 16px;
}

.form-input-text.style1::-ms-input-placeholder {
    font-size: 16px;
}

.form-input-text.style1::placeholder {
    font-size: 16px;
}

.form-input-text.textarea {
    height: 200px;
}

.form-input-text.style2 {
    border-style: solid;
    border-color: white;
    background-color: hsla(0, 0%, 100%, 0.55);
}

.form-input-text.style2.on-dark {
    border-color: hsla(0, 0%, 100%, 0.1);
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
}

.form-input-text.style2.on-dark::-webkit-input-placeholder {
    color: #969696;
}

.form-input-text.style2.on-dark:-ms-input-placeholder {
    color: #969696;
}

.form-input-text.style2.on-dark::-ms-input-placeholder {
    color: #969696;
}

.form-input-text.style2.on-dark::placeholder {
    color: #969696;
}

.form-label {
    font-weight: 600;
}

.form-checkbox {
    margin-bottom: 32px;
    border: 1px none #000;
    font-size: 14px;
}

.on-dark {
    color: white;
}

.float-right {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.block-centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.block-centered.img {
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.body-library {
    background-color: #dadada;
}

.text-align-center {
    text-align: center;
}

.no-padding-right {
    padding-right: 0;
}

.nav-link {
    font-weight: 400;
}

.nav-link:hover {
    color: #ff5733;
}

.nav-link.w--current {
    color: #ff5733;
}

.nav-link.w--open:hover {
    color: #ff5733;
}

.display-block {
    display: block;
}

.footer-bottom {
    color: #a1a1a1;
    font-size: 14px;
}

.footer-bottom-link {
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #a1a1a1;
}

.footer-bottom-link:hover {
    color: #0e0e0e;
}

.footer-bottom-link.on-dark:hover {
    color: white;
}

.low-text-contrast {
    color: #a1a1a1;
}

.low-text-contrast.on-light {
    color: rgba(51, 51, 51, 0.8);
}

.border-bottom-1px {
    border-bottom: 1px solid #a1a1a1;
}

.hr {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.2);
}

.hr.is-light {
    background-color: #dadada;
}

.hr.is-on-white {
    background-color: rgba(71, 71, 71, 0.18);
}

.hr.on-dark {
    background-color: hsla(0, 0%, 100%, 0.22);
}

.hr.on-dark.opacity {
    background-color: hsla(0, 0%, 100%, 0.2);
}

.size-h4 {
    font-weight: 900;
}

.alignself-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.float-left {
    float: left;
}

.font-size-normal {
    font-size: 18px;
    font-weight: 400;
}

.semi-bold {
    font-weight: 600;
}

.is-bold {
    font-weight: 700;
}

.weight-is-medium {
    font-weight: 500;
}

.padding {
    padding: 24px;
}

.success-message {
    background-color: #adffbf;
}

.shift-down-double {
    margin-top: 64px;
}

.margin-top {
    margin-top: 32px;
}

.margin-top-negative {
    margin-top: -16px;
}

.padding-medium {
    padding: 32px;
}

.weight-is-black {
    font-weight: 900;
}

.hidden {
    display: none;
}

.rich-text p {
    margin-bottom: 34px;
}

.rich-text a:hover {
    border-bottom: 1px solid #ff5733;
}

.rich-text img {
    margin-bottom: 8px;
}

.rich-text ul {
    margin-bottom: 32px;
    padding-left: 40px;
    list-style-type: disc;
}

.rich-text li {
    padding-left: 0;
    background-image: none;
}

.rich-text ol {
    margin-bottom: 32px;
}

.rich-text figcaption {
    margin-bottom: 32px;
    color: #a1a1a1;
    font-size: 14px;
}

.rich-text figure {
    margin-bottom: 32px;
}

.image-caption {
    color: #a1a1a1;
    font-size: 14px;
    text-align: center;
}

.asterisk {
    color: #eb0000;
    font-size: 16px;
    font-weight: 200;
}

.form-textarea {
    min-height: 200px;
    margin-bottom: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 60.7%, 0.3);
    border-radius: 5px;
}

.form-select {
    height: 48px;
    margin-bottom: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 60.7%, 0.3);
    border-radius: 5px;
    background-color: white;
}

.header-content-wrapper {
    padding: 40px;
    background-color: white;
}

.plain-list {
    padding-left: 0;
    list-style-type: none;
}

.c-video {
    position: relative;
    bottom: 96px;
}

.no-padding-top {
    padding-top: 0;
}

.rounded-pic {
    border-radius: 50%;
}

.rounded-pic.tl-br {
    border-radius: 70px;
}

.no-padding-top-bottom {
    padding-top: 0;
    padding-bottom: 0;
}

.is-thin {
    font-weight: 200;
}

.shift-down {
    margin-top: 32px;
}

.overflow-left {
    position: absolute;
    right: 50%;
}

.text-white {
    color: white;
}

.all-category {
    color: #0e0e0e;
    font-size: 23px;
}

.email-footer {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.41);
    color: white;
}

.email-footer:hover {
    color: #ff5733;
}

.phone-footer {
    color: white;
}

.phone-footer:hover {
    color: #ff5733;
}

.overflow-right {
    position: absolute;
    left: 50vw;
    right: auto;
}

.decoration-rightside {
    position: absolute;
    left: 50vw;
    top: 33px;
    bottom: auto;
    width: 50vw;
    height: 170px;
    background-position: 240px 0;
    background-size: 340px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.decoration-rightside.style1 {
    position: absolute;
    top: 0;
    bottom: auto;
    background-image: none;
}

.decoration-rightside.style1.overflow-hidden {
    height: 1010px;
}

.filter-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item {
    min-height: 200px;
}

.button {
    margin-right: 5px;
    margin-bottom: 16px;
    margin-left: 5px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 20px;
    background-color: rgba(255, 87, 51, 0);
    box-shadow: inset 0 0 0 0 #000;
    -webkit-transition: box-shadow 400ms cubic-bezier(.165, .84, .44, 1);
    transition: box-shadow 400ms cubic-bezier(.165, .84, .44, 1);
    color: #0e0e0e;
}

.button:hover {
    box-shadow: inset 0 0 0 2px #ff5733;
    color: #ff5733;
}

.button.js-button-filter.button--is-active {
    background-color: #ff5733;
}

.button.button--is-active {
    background-color: #ff5733;
    color: white;
}

.js-button-filter.button-is-active {
    background-color: #ff5733;
}

.js-button-filter.button {
    -webkit-transition-property: none;
    transition-property: none;
}

.decoration1 {
    position: absolute;
    left: 284px;
    top: 0;
    right: auto;
    width: 1460px;
    max-width: none;
    padding-top: 0;
    border-bottom-left-radius: 70px;
}

.decoration1.style2 {
    top: -165px;
    width: 1000px;
}

.decoration1.style4 {
    left: 233px;
    top: 0;
}

.decoration1.style5 {
    left: 171px;
    top: -280px;
}

.c-service_card {
    padding: 40px 40px 24px;
    border-radius: 60px;
    background-color: white;
    box-shadow: 2px 3px 3px 2px rgba(109, 79, 67, 0.24);
}

.c-service_card.color-1 {
    padding-bottom: 40px;
    background-color: #293380;
    color: white;
}

.c-service_card.color-2 {
    padding-bottom: 40px;
    background-color: #6a1e94;
    color: white;
}


.c-grid__2x5 {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    -ms-grid-rows: minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr);
    grid-template-rows: minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr);
}

.c-grid__work {
    background-image: url('../img/projects/proj-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 35px 64px 0 rgba(0, 0, 0, 0.31);
}

.c-grid__work.img2 {
    background-image: url('../img/projects/proj-2.jpg');
}

.c-grid__work.img2.shiftdown-quad {
    position: relative;
    top: 96px;
}

.c-grid__work.img3 {
    background-image: url('../img/projects/proj-3.jpg');
}

.c-grid__work.img4 {
    background-image: url('../img/projects/proj-4.jpg');
}

.c-grid__work.img4.shiftdown-quad {
    position: relative;
    top: 96px;
}

.c-grid__work.img5 {
    background-image: url('../img/projects/proj-5.jpg');
}

.c-grid__work.img6 {
    background-image: url('../img/projects/proj-6.jpg');
    background-position: 50% 50%;
}

.c-grid__work.img6.shiftdown-quad {
    position: relative;
    top: 96px;
}

.c-grid__work.img7 {
    background-image: url('../img/projects/proj-7.jpg');
}

.c-grid__work.img8 {
    background-image: url('../img/projects/proj-8.jpg');
}

.c-grid__work.img8.shiftdown-quad {
    position: relative;
    top: 96px;
}

.c-service__icon {
    display: inline-block;
    margin-bottom: 32px;
    padding: 24px;
    border-radius: 50%;
    background-color: #fdf556;
}

.c-service__icon.color2 {
    background-color: #99fd56;
}

.c-service__icon.color3 {
    background-color: #fdbc96;
}

.c-service__icon.color4 {
    background-color: #e4ff6e;
}

.c-service__icon.color5 {
    background-color: #8bf0ff;
}

.c-service__icon.color6 {
    background-color: #6cffb8;
}

.paragraph {
    color: white;
    font-family: "Neue Haas Unica", sans-serif;
}

.blog-post-description {
    font-family: "Neue Haas Unica", sans-serif;
    font-size: 15px;
}

@media (max-width: 991px) {
    h1 {
        margin-bottom: 16px;
    }

    h2 {
        margin-bottom: 14px;
    }

    h4 {
        margin-bottom: 8px;
    }

    h5 {
        margin-bottom: 8px;
    }

    h6 {
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 16px;
    }

    .container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .col {
        margin-bottom: 24px;
    }

    .col.lg-6.md-12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .col.lg-6.md-12.order-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .col.lg-6.no-margin-bottom.md-12.md-order-last {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .col.lg-4 {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .col.lg-4.md-12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .col.lg-4.md-12.md-order-last {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .col.lg-4.md-12.slide-down {
        position: static;
    }

    .col.lg-4.md-12.slide-up {
        position: static;
    }

    .col.lg-4.order-first.no-padding-left.no-margin-bottom.flex-horizontal.position-absolute-md {
        position: absolute;
    }

    .col.lg-4.no-margin-bottom.position-absolute-md {
        position: absolute;
    }

    .col.lg-8.md-12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .col.lg-7.md-12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .col.lg-5.md-12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .col.lg-5.md-12.order-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .col.lg-5.md-12.md-order-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .col.lg-1 {
        -webkit-flex-basis: 7%;
        -ms-flex-preferred-size: 7%;
        flex-basis: 7%;
    }

    .heading-alpha {
        font-size: 52px;
    }

    .section {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .section.is-header.position-relative.md-margin-bottom-quad {
        margin-bottom: 96px;
    }

    .margin-bottom {
        margin-bottom: 16px;
    }

    .margin-left.prev {
        margin-left: 8px;
    }

    .margin-bottom-double {
        margin-bottom: 32px;
    }

    .nav-menu {
        background-color: #f5f9ff;
        text-align: left;
    }

    .nav-menu.order-last {
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: #0e0e0e;
        color: white;
    }

    .no-padding-left.nav-link {
        padding-left: 20px;
    }

    .block-centered.img {
        width: 100%;
    }

    .nav-link {
        color: white;
    }

    .menu-button.w--open {
        background-color: #0e0e0e;
    }

    .hidden-md {
        display: none;
    }

    .burger-menu-icon.white {
        position: absolute;
        top: 34px;
    }

    .md-order-last {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .shift-down-double {
        position: static;
        margin-top: 0;
    }

    .rich-text p {
        margin-bottom: 16px;
    }

    .rich-text blockquote {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .position-static-md {
        position: static;
    }

    .md-margin-bottom {
        margin-bottom: 24px;
    }

    .md-no-padding-bottom {
        padding-bottom: 0;
    }

    .md-no-padding-top {
        padding-top: 0;
    }

    .shift-down {
        margin-top: 0;
    }

    .filter-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card.img9 {
        background-position: 50% 50%;
    }

    .card.img8 {
        background-size: cover;
    }

}

@media (max-width: 767px) {
    .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .burger-menu-icon {
        min-width: 22px;
    }

    .c-grid__2x5 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr);
        grid-template-rows: minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr) minmax(540px, 1fr);
    }

    .c-grid__work.img2.shiftdown-quad {
        position: static;
    }

    .c-grid__work.img4.shiftdown-quad {
        position: static;
    }

    .c-grid__work.img6.shiftdown-quad {
        position: static;
    }
}

@media (max-width: 479px) {

    .col.lg-6.md-12.no-margin-bottom-md {
        margin-bottom: 0;
    }

    .margin-bottom.rounded-pic {
        max-width: 64px;
    }

    .button-primary {
        -webkit-box-flex: 0;
        -webkit-flex: 0 100%;
        -ms-flex: 0 100%;
        flex: 0 100%;
    }

    .extra-menu {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .burger-menu-icon {
        min-width: 22px;
    }

    .rich-text blockquote {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 36px;
    }

    .c-grid__2x5 {
        -ms-grid-rows: minmax(264px, 1fr) minmax(264px, 1fr) minmax(264px, 1fr) minmax(264px, 1fr);
        grid-template-rows: minmax(264px, 1fr) minmax(264px, 1fr) minmax(264px, 1fr) minmax(264px, 1fr);
    }
}